.todo-cards-container {
  width: 100%;
  position: relative;
}

.todo-card {
  margin-bottom: 10px;
}

.search-card {
  margin-bottom: 10px;
}

.mat-radio-button {
  margin: 0 12px;
}

.divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-top: 10px;
  margin-bottom: 10px;
}
.complete {
  color: green;
}

.incomplete {
  color: red;
}

.todo-list-item {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.todo-list-item:hover {
  background-color: #f0f0f036;
}
.complete {
background-color: lightgreen;
}

.incomplete {
background-color: salmon;
}

.overlay {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0, 0, 0, 0.7);
transition: opacity 500ms;
visibility: visible;
opacity: 1;
}

.popup {
top: 5%;
margin: 2% auto;
padding: 10%;
background: rgba(0, 0, 0, 0.7);
border-radius: 5%;
border-color: white;
width: 50%;
position: relative;
transition: all 5s ease-in-out;
}

.popup .close {
position: absolute;
top: 10px;
right: 30px;
transition: all 200ms;
font-size: 30px;
font-weight: bold;
text-decoration: none;
color: gray;
}

.popup .close:hover {
color: black;
cursor: pointer;
}

.popup .content{
max-height: 30%;
overflow: auto;
}

.flex-row{
width: 100%;
}


.add-todo-fab {
  position: fixed;
  bottom: 15px;
  right: 30px;
}

.todo-list-item {
  width: 100%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.todo-details, .todo-status {
  display: flex;
  flex-direction: column;
}

.todo-list-body {
  word-wrap: break-word;
  overflow-wrap: break-word;
  width:1000px;
}

.ID {
  font-size: 0.8em;
  color: grey;
}